.navbar {
    background: linear-gradient(300deg, #6faef6, #7cf9ec, #C7EFFA);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .profile-img{
    border-radius: 15%;
  }

  .card {
    background-size: cover;
}

    .card h4 {
        font-size: 1.5rem;
    }

    .about-img{
      border-radius: 20px;

    }


    #footer {
      background: linear-gradient(300deg, #6faef6, #7cf9ec, #C7EFFA);
      background-size: 180% 180%;
      animation: gradient-animation 18s ease infinite;
    }
    
    @keyframes gradient-animation {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
    

